.idea
idea
.DS_Store

*.egg-info/
.installed.cgf
*.egg

dist
db.sqlite3

venv
.env
settings.ini

prod_setting.py
local_setting.py

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

!*media/.gitkeep
media/*

log/debug.log

build
doc
home.rst
make.bat
